<br>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://picsum.photos/699/251" class="d-block w-100" alt="IMAGE 1" />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://picsum.photos/700/250" class="d-block w-100" alt="image 2"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/701/249"
        class="d-block w-100"
        alt="image 3..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br />

<hr style="color: #123678" />

<table class="table table-dark">
  <thead>
    <tr style="text-align: center;">
      <th scope="col" colspan="3">Top Products</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>
        <div class="card" style="width: 18rem">
          <img src="https://picsum.photos/170/170" class="card-img-top" alt="..." />
          <div class="card-body bg-dark">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of
              the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 23000</li>
            <li class="list-group-item">Color: Red</li>
            <li class="list-group-item">Details</li>
          </ul>
          <!-- <div class="card-body">
            <a href="#" class="card-link">Add to Cart</a>
            <a href="#" class="card-link">Remove from cart</a>
          </div> -->
        </div>
      </td>
      <td>
        <div class="card" style="width: 18rem">
          <img src="https://picsum.photos/170/170" class="card-img-top" alt="..." />
          <div class="card-body bg-dark">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of
              the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 23000</li>
            <li class="list-group-item">Color: Red</li>
            <li class="list-group-item">Details</li>
          </ul>
          <!-- <div class="card-body">
            <a href="#" class="card-link">Add to Cart</a>
            <a href="#" class="card-link">Remove from cart</a>
          </div> -->
        </div>
      </td>
      <td>
        <div class="card" style="width: 18rem">
          <img src="https://picsum.photos/170/170" class="card-img-top" alt="..." />
          <div class="card-body bg-dark style=padding: 3px">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text ">
              Some quick example text to build on the card title and make up the bulk of
              the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 23000</li>
            <li class="list-group-item">Color: Red</li>
            <li class="list-group-item">Details</li>
          </ul>
          <!-- <div class="card-body">
            <a href="#" class="card-link">Add to Cart</a>
            <a href="#" class="card-link">Remove from cart</a>
          </div> -->
        </div>
      </td>
    </tr>
  </tbody>
</table>

<h1><%=pagetitle %></h1>
<% for(var i=0,j=products.length ; i!=j ; i++) {%>
  <div class="row">
    <div class="col-12"><h3><%=products[i].name %></h3></div>
    <div class="col-8">
      <p class="pl-2">
        <img src="../../images/uploaded/<%=products[i].image %>"
          alt="product image "
          style="float: left; padding: 10px"
          width="200px"
        /><%=products[i].description %>
      </p>
    </div>
    <div class="col-4">
      <a href="/add-cart/<%=products[i]._id %>" class="btn btn-info w-full img-fluid"
        >Add To Cart</a
      >
      <dl>
        <dt>Price</dt>
        <dd><%=products[i].price %></dd>
        <dt>Color</dt>
        <dd><%=products[i].color %></dd>
        <dt>Department</dt>
        <dd><%=products[i].department %></dd>
      </dl>
    </div>
  </div>
  <% } %>
</products.length;i++)>